@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');


/* ESTILOS DE NAVEGACION Y CONTENIDO */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body{
  font-family: 'Poppins', sans-serif;
}

img{
  max-width: 80%;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.header{
  display: flex;
  align-items: center;
  min-height: 80vh;
  background-color: rgb(0, 0, 0);
  padding: 70px 0;
}

.menu{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 800;
  width: 70px;
}

.menu .navbar ul li{
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: rgb(255, 255, 255);
  display: block;
}

#menu{
  display: none;
}

.menu-icono{
  width: 25px;
}

.menu label{
  cursor: pointer;
  display: none;
}

.submenu{
  position: relative;
}

.submenu #carrito{
  display: none;
}

.submenu:hover #carrito {
  display: block;
  position: absolute;
  right: 0;
  backdrop-filter: blur(10px);
  top: 100%;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  min-width: 400px;
}

table{
  width: 100%;
}

th, td {
  color: rgb(0, 0, 0);

}

.borrar {
  background-color: rgb(181, 61, 61);
  border-radius:  50%;
  padding: 5px 10px;
  text-decoration: none;
  color: rgb(235, 226, 226);
  font-weight: 800;
  cursor: pointer;
}

.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 0 150px;
}

.header-img {
  flex-basis: 50%;
  text-align: center;

}

.header-txt {
  flex-basis: 50%;
  text-align: center;
}

.header-txt h1{
  font-size: 90px;
  text-transform: uppercase;
  line-height: 1;
  color: rgb(240, 190, 10);
  font-family: 'Oswald' , sans-serif;
  margin-bottom:  15px;

}

.header-txt p {
  font-size:  20px;
  text-transform: uppercase;
  margin-bottom:  20px;
  color: #ffffff;

}

.btn-1 {
  display: inline-block;
  padding:  11px 25px;
  background-color: rgb(19, 17, 17);
  color: rgb(12, 12, 12);
  border-radius: 5px;
}

/* ESTILO DE LOS PRODUCTOS */

.btn-2{
  display: inline-block;
  padding:  7px 10px;
  background-color: black;
  color: aliceblue;
  border-radius: 5px;
  font-size: 15px;
}
  
.products{
  padding:  50px 0;
  text-align: center;
}

.products h2 {
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size:  50px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.product-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.product{
  text-align: center;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.product img{
  width:  250px;
  height:  370px;
  margin-bottom: 20px;
}

.product h3{
  font-size: 20px;
  color: black;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.product p, .precio {
  font-size:  16px;
  color: black;
  margin-bottom: 15px;
}

.precio{
  font-weight: 800;
}
  
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}  

.product img:hover{
  transform: scale(1.05);
}
   
/* ESTILO PARA HACER LA PAGINA ADAPTABLE DIFERENTES DIMENSIONES */

@media(max-width:991px) {

  .menu{
      padding: 20px;
  }

  .menu label{
      display: initial;
  }

  .menu .navbar{
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: black;
      display: none;
  }

  .menu .navbar ul li {
      width: 100%;

  }

  .menu .navbar ul li a{
      color: aliceblue;
  }


  #menu:checked ~ .navbar{
      display: initial;
  }
  
  .logo{
      display: none;
  }

  .submenu:hover #carrito {
      min-width: 100%;
  }
  
  .header{
      min-height: 0vh;
  }

  .header-content{
      padding: 50px 0;
      flex-direction: column;
  }

  .header-img{
      display: none;
  }

  .header-txt{
      flex-basis: 100%;
      text-align: center;
  }

  .header-txt h1{
      font-size: 70px;
  }

  
  .products{
      padding: 0 30px 30px 30px;
  }

  .products h2{
      margin-bottom: 30px;
  }

  .product-content{
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
  }

  .product img{
      width: 200px;
      height: 280px;
  }

}









    /* CSS DEL FOOTER */
  
    *{
      padding: 0%;
      margin: 0%;
      box-sizing: border-box;
    }
  
    .logo-footer{
      background-color: rgb(0, 0, 0);
      display: flex;
      justify-content: center;
      width: 100%;
    }
  
    
    .footerContainer{
      background-color: #000000;
      position: absolute;
      width: 100%;
      padding: 70px 30px 20px;
    }
  
    .socialIcons{
      display: flex;
      justify-content: center;
      width: 100%;
    }
  
    .socialIcons a{
      text-decoration: none;
      padding: 10px;
      background-color: rgb(218, 192, 49);
      margin: 10px;
      border-radius: 50%;
  
    }
  
    .socialIcons a i{
      font-size: 2em;
      color: #000000;
      opacity: 0.9;
    }
  
    .socialIcons a:hover{
      background-color: #000000;
      transition: 0.5s;
    }
  
    .socialIcons a:hover i{
      color: #ffffff;
      transition: 0.5s;
    }
  
    .footertext{
      color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      width: 100%;
    }
    
  
  .footer-nav{
  margin: 30px 0 ;
  
  }
  
  .footer-nav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
  }
  
  
  .footer-nav ul li a{
  color: #ffffff;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
  }
  
  .footer-nav ul li a:hover{
    opacity: 1;
  }
  
  
  
  
  @media (max-width: 700px){
  .footer-nav ul{
    flex-direction: column;
  }
  .footer-nav ul li{
    width: 100;
    text-align: center;
    margin: 10px;
  }
  }