@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');



*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body{
  font-family: 'Poppins', sans-serif;
}

img{
  max-width: 100%;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.header{
  display: flex;
  align-items: center;
  min-height: 15vh;
  background-color: rgb(0, 0, 0);
  padding: 0px 0;
}

.menu{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content:center;
}

.logo{
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 800;
  width: 70px;
}

.menu .navbar ul li{
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: rgb(255, 255, 255);
  display: block;
}

#menu{
  display: none;
}

.menu-icono{
  width: 25px;
}

.menu label{
  cursor: pointer;
  display: none;
}

  


#map {
  height: 400px;
  margin-top: 20px;
}
    /* CSS DEL FOOTER */
  
    *{
      padding: 0%;
      margin: 0%;
      box-sizing: border-box;
    }
  
    .logo-footer{
      background-color: rgb(0, 0, 0);
      display: flex;
      justify-content: center;
      width: 100%;
    }
  
    
    .footerContainer{
      background-color: #000000;
      position: absolute;
      width: 100%;
      padding: 70px 30px 20px;
    }
  
    .socialIcons{
      display: flex;
      justify-content: center;
      width: 100%;
    }
  
    .socialIcons a{
      text-decoration: none;
      padding: 10px;
      background-color: rgb(218, 192, 49);
      margin: 10px;
      border-radius: 50%;
  
    }
  
    .socialIcons a i{
      font-size: 2em;
      color: #000000;
      opacity: 0.9;
    }
  
    .socialIcons a:hover{
      background-color: #000000;
      transition: 0.5s;
    }
  
    .socialIcons a:hover i{
      color: #ffffff;
      transition: 0.5s;
    }
  
    .footertext{
      color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      width: 100%;
    }
    
  
  .footer-nav{
  margin: 30px 0 ;
  
  }
  
  .footer-nav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
  }
  
  
  .footer-nav ul li a{
  color: #ffffff;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
  }
  
  .footer-nav ul li a:hover{
    opacity: 1;
  }
  
  
  
  
  @media (max-width: 700px){
  .footer-nav ul{
    flex-direction: column;
  }
  .footer-nav ul li{
    width: 100;
    text-align: center;
    margin: 10px;
  }
  }